/**

Note that when drawing to CANVAS, we MUST set all design properties as attributes in the SVG elements.
Otherwise we can set them in here.
So the only thing we can set here even if we draw to canvas, are the properties that only makes sense when using the SVG,
like hovering and selecting something.

**/

/* svg.my-svg text {
    font-family: sans-serif;
    font-size: smaller;
} */

/* svg.my-svg {
    background-color: bisque;
} */

/* line.my-y-axis-grid-line {
    stroke-width: 1;
    stroke: #C0C0C0;
    stroke-dasharray: 1,1;
} */

/* line.my-x-axis-grid-line {
    stroke-width: 1;
    stroke: #C0C0C0;
    stroke-dasharray: 1,1;
} */

/* text.my-y-axis-label, text.my-x-axis-label {
    fill: red;
} */

.my-x-axis-grid-column-selectable {
    fill: black;
}

.my-x-axis-grid-column-selectable.selected {
    fill-opacity: 0.1;
}

.my-x-axis-grid-column-selectable-label {
    cursor: pointer;
}

.my-x-axis-grid-column-selectable-label.selected {
    font-weight: bold;
}

/* .my-line {
    stroke-width: 2;
} */

/* .my-bar {
    fill-opacity: 0.5;
} */

.my-line-point, g.my-legend-group g {
    cursor: pointer;
}

.my-line-point:hover {
    stroke-width: 6;
}

#my-serie-group g {
    transition: opacity 0.6s;
    z-index: 1;
}

#my-serie-group g.unselected {
    opacity: 0;
    z-index: 0;
}

#my-serie-group {
    transition: opacity 1s;
    opacity: 1;
    z-index: 1;
}

#my-serie-group.unattached {
    opacity: 0;
    z-index: 0;
}

/* svg.my-svg text.my-text-title {
    font-size: large;
} */

g.my-legend-group g.unselected {
    opacity: 0.4;
}

rect.my-bar:hover {
    fill-opacity: 0.7;
}


/* svg.my-svg {
    background-color: yellow;
} */