body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 80rem;
    margin: 0 auto;
}

.chartDiv,
.chartCodeConfig,
.chartCodeData {
    height: 25rem;
    max-height: 25rem;
}

.chartRow {
    padding: .6rem;
    margin-bottom: 2rem;
    border: 1px solid salmon;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
        "chart codeConfig codeData"
        "tools tools tools";
}

.chartDiv {
    grid-area: chart;
}

.chartCodeConfig {
    grid-area: codeConfig;
    overflow: auto;
}

.chartCodeConfig:before {
    content: 'Config:';
}

.chartCodeData {
    grid-area: codeData;
    overflow: auto;
}

.chartCodeData:before {
    content: 'Data:';
}

.chartCodeData:before,
.chartCodeConfig:before {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
}


.chartTools {
    grid-area: tools;
}