body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 60rem;
    margin: 0 auto;
    background-color: aliceblue;
}

.chartDivsWrapper {
    position: relative;
    margin-top:1rem;
}

.chartDiv, .chartCodeConfig, .chartCodeData {
    display: block;
}

.chartDivsWrapper textarea {
    display: block;
    height: 25rem;
    width:100%;
}

.chartDiv.my-hidden, .chartCodeConfig.my-hidden, .chartCodeData.my-hidden {
    display: none;
}

.chartDiv {
    height: 25rem;
}

button.my-active-tab {
    background-color: black;
    color: white;
}

.chartRow {
    padding-bottom: 2rem;
    border-bottom: 1px solid midnightblue;
}

.chartTools {
    display: flex;
    justify-content: space-between;
}

dt {
    font-weight: bold;
    margin-bottom: 1rem;
}

dt[data-type]::before {
    font-style: italic;
    opacity: .6;
}

dt[data-type="string"]::before {
    content: 'String ';
}

dt[data-type="object"]::before {
    content: 'Object ';
}

dt[data-type="bool"]::before {
    content: 'Bool ';
}

dt[data-type="number"]::before {
    content: 'Number ';
}

dt[data-required]::after {
    content: ' *';
}

dd {
    margin-bottom: 1rem;
}

pre {
    position: relative;
}

pre button.my-copy-button {
    position: absolute;
    right:0;
}

pre.my-hlj-no-padding-and-bg {
    margin: 1rem 0;
}

pre.my-hlj-no-padding-and-bg code.hljs {
    background-color: transparent;
    padding: 0;
}